<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wms">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.Camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WMS">
        <activity android:name=".IndividualPickingList"></activity>
        <activity android:name=".PickedListPP" />
        <activity
            android:name=".ScanCode"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity android:name=".PickingPP" />
        <activity
            android:name=".OutboundPurchaseOrdersSUP"
            android:parentActivityName=".ViewPoSUP" />
        <activity
            android:name=".InboundPurchaseOrdersSUP"
            android:parentActivityName=".ViewPoSUP" />
        <activity
            android:name=".SummaryInventoryReportsWM"
            android:parentActivityName=".ViewReportsActivityWM" />
        <activity android:name=".ViewPoREC" />
        <activity android:name=".PrintLabelREC" />
        <activity android:name=".ReceivingItemsREC" />
        <activity android:name=".ViewProductsREC" />
        <activity android:name=".ViewPickingListPP" />
        <activity
            android:name=".SummaryPoInboundWM"
            android:parentActivityName=".ViewReportsActivityWM" />
        <activity
            android:name=".SummaryDoOutboundWM"
            android:parentActivityName=".ViewReportsActivityWM" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".ViewPoSUP" />
        <activity android:name=".TrackShipmentStatusSUP" />
        <activity android:name=".ProductManagementSUP" />
        <activity android:name=".ApprovalSystemSUP" />
        <activity android:name=".ApprovalSystemWM" />
        <activity android:name=".HomePageActivityRec" />
        <activity android:name=".HomePageActivityPp" />
        <activity android:name=".HomePageActivitySup" />
        <activity android:name=".ViewReportsActivityWM" />
        <activity android:name=".ViewProductsWM" />
        <activity android:name=".HomePageActivityWm" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>