<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WMS">
        <activity android:name=".PrintInformationLabelActivity"></activity>
        <activity android:name=".ProductMngRecActivity" />
        <activity android:name=".ScanBarcodeActivity" />
        <activity android:name=".ViewPackingListActivity" />
        <activity android:name=".PrintDoActivity" />
        <activity android:name=".StorageMngActivity" />
        <activity android:name=".EditIncomingPoActivity" />
        <activity android:name=".GeneratePickingListActivity" />
        <activity android:name=".GenerateDoActivity" />
        <activity android:name=".ViewOrdersActivity" />
        <activity android:name=".TrackShipmentStatActivity" />
        <activity android:name=".HomePageActivityRec" />
        <activity android:name=".HomePageActivityPp" />
        <activity android:name=".HomePageActivitySup" />
        <activity android:name=".GenerateIncomingPoActivity" />
        <activity android:name=".ViewPOActivity" />
        <activity android:name=".ManageAccountsActivity" />
        <activity android:name=".ViewInventoryReportsActivity" />
        <activity android:name=".ProductMngActivity" />
        <activity android:name=".HomePageActivityWm" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>